h1{
    color: blue;
}
body{
background-image: url(/img/realidad_extendida.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: aqua;
    font-size: 40px;
}

ul li{
    display: inline-block;
    padding: 10px 20px;
}

a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

a:hover{
    color: aqua;
    border-radius: 20px;
    border: solid;
    padding: 5px;
    transition-duration: 0.5s;
}
