h1{
    color: blue;
}
body{
background-image: url(/img/realidad_extendida.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: aqua;
    font-size: 40px;
}

ul li{
    display: inline-block;
    padding: 10px 20px;
}

a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

a:hover{
    color: aqua;
    border-radius: 20px;
    border: solid;
    padding: 5px;
    transition-duration: 0.5s;
}
<<<<<<< HEAD

.pie{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px double aqua;
    font-family: verdana;
    background-color: white;

    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(min(100px,100%),1fr));
}
.redes{
    color: whitesmoke;
    display: flex;
    justify-content: flex-start ;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
=======
>>>>>>> 45d52be5dfbbd5ebc25fccbd840ecf7b22d7ec5a
